.border{
   border-radius:4px;
}

.border-full {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.hovered:hover{
    background-color: #333 !important;
    transition-duration: 500ms;
    color:white !important;
}